@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: 'Circular STD';
        src: url('../public/font/Circular-Std-Bold.ttf') format('.ttf');
    }
}

html{
    font-family: inter;
}

h1{
    font-family: circular STD;
}


.custom-shape-divider-bottom-1729419464 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1729419464 svg {
    position: relative;
    display: block;
    width: calc(171% + 1.3px);
    height: 191px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1729419464 .shape-fill {
    fill: #E04A0E;
}

.custom-shape-divider-top-1729419591 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1729419591 svg {
    position: relative;
    display: block;
    width: calc(171% + 1.3px);
    height: 191px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1729419591 .shape-fill {
    fill: #E04A0E;
}